.u-section-1 .u-sheet-1 {
  min-height: 1325px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-1 .u-text-2 {
  margin: 19px 0 0 126px;
}

.u-section-1 .u-image-1 {
  width: 100px;
  height: 131px;
  margin: -137px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 40px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 33px 0 0;
}

.u-section-1 .u-text-5 {
  margin: 33px 0 0;
}

.u-section-1 .u-image-2 {
  width: 412px;
  height: 224px;
  animation-timing-function: ease;
  margin: 39px auto 0 92px;
}

.u-section-1 .u-image-3 {
  width: 412px;
  height: 224px;
  animation-timing-function: ease;
  transform-origin: center center 0px;
  transform: scaleX(-1);
  margin: -224px 112px 39px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1247px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 185px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 185px;
    margin-top: -185px;
    margin-right: 0;
  }
}