 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 163px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 54px 13px 0;
}

.u-section-1 .u-text-2 {
  width: 680px;
  margin: 24px auto 23px;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 523px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 474px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 449px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 822px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 35px 0 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 702px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 116px 20px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 419px;
  height: 70px;
  margin: 35px auto 0 20px;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  margin: 30px 20px 0;
}

.u-section-2 .u-btn-2 {
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 30px auto 0 20px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 702px;
  background-image: none;
}

.u-section-2 .u-image-2 {
  width: 390px;
  height: 542px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 579px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    width: 310px;
    height: 52px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 443px;
  }

  .u-section-2 .u-image-2 {
    width: 310px;
    height: 431px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-cell-2 {
    min-height: 665px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-2 {
    min-height: 493px;
  }
}